:root {
  text-align: start;

  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(67, 160, 103, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  position: absolute;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.nav-desc {
  max-width: 50rem;
  min-width: 15rem;
}
.nav-desc p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header {
  height: auto;
  width: 100%;
}

.project-list {
  display: flex;
  place-items: start;
  flex-direction: column;
  gap: 5px;
}

.project-link:hover {
  color: #2d33b3;
}
.project-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 1rem;
  color: #477bce;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.project-link-selected {
  background-color: rgb(126, 255, 167)
}

.scroll-dir-indicator {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(0, 0, 0);
  opacity: 60%;
}

.image-slider {
  display: flex;
  gap: 3vw;
}
.image-slider img {
  align-self: center;
  height: 50vh;
}
.image-slider-mobile {
  flex-direction: column;
}
.image-slider-mobile img {
  height: auto;
  width: 92vw;
  margin-bottom: 4vh;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.6em;
  line-height: 1.1;
}
